# Настоящие env не пушим
.env 


# Игнорируем папку BOMs (сырые данные)
BOMs/

# Игнорируем директорию patents_data/
patents_data/

# Игнорируем файл merged - сырые данные, объедененные с нескольких резульататов парсера
merged.csv

# Игнорируем исходные Excel-файлы с терминами
Automotive_Glossary_CN-RU.xlsx
untranslated_terms.xlsx

# Кэш Hugging Face
.huggingface/
.cache/

# Игнорируем временные и системные файлы
__pycache__/
rag/__pycache__/
scripts__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.log
.vscode/
.idea/
*.swp
*.swo


# rag trash

embeddings.npy
metadata.pkl
faiss.index

